.App {
  text-align: center;
}
.smurfsCont {
  line-height: 0;
  display: flex;
  justify-content: space-around;
}
.smurfs {
  text-align: left;
}
.form {
  margin: 10px;
  border: 1px solid black;
}
.form button {
  margin: 20px;
}
.input {
  margin: 2px;
}